Repository davideme/lamp-control-api-reference: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-format-lint, python-format-lint, go-format-lint, java-format-lint, csharp-format-lint, kotlin-format-lint

typescript-format-lint:
  name: TypeScript format and lint
  entry: scripts/hooks/typescript.sh
  language: system
  pass_filenames: true

python-format-lint:
  name: Python format and lint
  entry: scripts/hooks/python.sh
  language: system
  pass_filenames: true

go-format-lint:
  name: Go format and lint
  entry: scripts/hooks/go.sh
  language: system
  pass_filenames: true

java-format-lint:
  name: Java format and lint
  entry: scripts/hooks/java.sh
  language: system
  pass_filenames: true

csharp-format-lint:
  name: C# format and lint
  entry: scripts/hooks/csharp.sh
  language: system
  pass_filenames: true

kotlin-format-lint:
  name: Kotlin format and lint
  entry: scripts/hooks/kotlin.sh
  language: system
  pass_filenames: true

docs(changelog): fix all broken ADR links and comparison URLs
  CHANGELOG.md
Due: none

fix(csharp): point buildpack path to solution root to pick up global.json
  src/csharp/cloudbuild.yaml
Due: none

fix(csharp): set GOOGLE_BUILDABLE to disambiguate project in buildpack
  src/csharp/cloudbuild.yaml
Due: none

fix(csharp): pin global.json to .NET 10.0 feature band, not exact patch
  src/csharp/global.json
Due: none

fix(csharp): point buildpack path to solution root to pick up global.json (#435)
  src/csharp/cloudbuild.yaml
  src/csharp/global.json
Due: none

refactor(kotlin): remove custom Hikari pool config, use defaults
  src/kotlin/README.md
  src/kotlin/src/main/kotlin/com/lampcontrol/database/DatabaseFactory.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigEnvironmentTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigEnvironmentVariableTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseFactoryTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/repository/PostgresLampRepositoryTest.kt
Due: kotlin-format-lint

feat(kotlin): add Cloud Build deployment configuration
  src/kotlin/cloudbuild.yaml
Due: none

fix(kotlin): remove hardcoded HikariCP pool sizing from test setup
  src/kotlin/src/test/kotlin/com/lampcontrol/repository/PostgresLampRepositoryTest.kt
Due: kotlin-format-lint

refactor(kotlin): remove custom Hikari pool config, use defaults (#436)
  src/kotlin/README.md
  src/kotlin/cloudbuild.yaml
  src/kotlin/src/main/kotlin/com/lampcontrol/database/DatabaseFactory.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigEnvironmentTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigEnvironmentVariableTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseFactoryTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/repository/PostgresLampRepositoryTest.kt
Due: kotlin-format-lint

feat(go): refactor lamp update logic to return updated entity and adjust repository methods
  src/go/api/lamp.go
  src/go/api/lamp_api_test.go
  src/go/api/mock_repository_test.go
  src/go/api/postgres_repository.go
  src/go/api/postgres_repository_test.go
  src/go/api/repository.go
  src/go/api/repository_test.go
Due: go-format-lint

feat: enhance lamp repository methods to use returning for create, update, and delete operations
  src/kotlin/src/main/kotlin/com/lampcontrol/repository/PostgresLampRepository.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/service/InMemoryLampRepository.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/service/LampService.kt
Due: kotlin-format-lint

fix(kotlin): replace isNotEmpty() with any() on ReturningStatement
  src/kotlin/src/main/kotlin/com/lampcontrol/repository/PostgresLampRepository.kt
Due: kotlin-format-lint

fix(go): resolve golangci-lint v2.11.3 lint failures
  src/go/api/config.go
  src/go/api/postgres_repository.go
  src/go/cmd/lamp-control-api/main_test.go
Due: go-format-lint

fix(go): sanitize env var values via json.Marshal before logging (G706)
  src/go/api/config.go
Due: go-format-lint

fix(go): exclude gosec G115 for postgres_repository.go int32 narrowing
  src/go/.golangci.yml
  src/go/api/postgres_repository.go
Due: go-format-lint

address PR review comments
  src/go/api/lamp.go
  src/go/api/lamp_api_test.go
  src/go/api/postgres_repository_test.go
  src/go/api/repository_test.go
  src/kotlin/src/main/kotlin/com/lampcontrol/repository/LampRepository.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/repository/PostgresLampRepository.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/service/InMemoryLampRepository.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/service/LampService.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/repository/PostgresLampRepositoryTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/service/InMemoryLampRepositoryTest.kt
Due: go-format-lint, kotlin-format-lint

fix(go): update lamp_test.go to expect 400 for invalid UUID and 404 for missing lamp
  src/go/api/lamp_test.go
Due: go-format-lint

Refactor repository methods to return updated entities (#437)
  src/go/.golangci.yml
  src/go/api/config.go
  src/go/api/lamp.go
  src/go/api/lamp_api_test.go
  src/go/api/lamp_test.go
  src/go/api/mock_repository_test.go
  src/go/api/postgres_repository.go
  src/go/api/postgres_repository_test.go
  src/go/api/repository.go
  src/go/api/repository_test.go
  src/go/cmd/lamp-control-api/main_test.go
  src/kotlin/src/main/kotlin/com/lampcontrol/repository/LampRepository.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/repository/PostgresLampRepository.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/service/InMemoryLampRepository.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/service/LampService.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/repository/PostgresLampRepositoryTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/service/InMemoryLampRepositoryTest.kt
Due: go-format-lint, kotlin-format-lint

fix(java): use latest buildpacks builder to fix Docker API version mismatch
  src/java/cloudbuild.yaml
Due: none

fix(java): use latest buildpacks builder to fix Docker API version mismatch (#438)
  src/java/cloudbuild.yaml
Due: none

refactor: delegate created_at/updated_at to Postgres for Python, Go, Kotlin, C#
  src/csharp/LampControlApi/Domain/Entities/LampEntity.cs
  src/csharp/LampControlApi/Infrastructure/Database/LampControlDbContext.cs
  src/csharp/LampControlApi/Infrastructure/Database/LampDbEntity.cs
  src/csharp/LampControlApi/Infrastructure/Database/Migrations/20260314234459_AddTimestampDefaults.Designer.cs
  src/csharp/LampControlApi/Infrastructure/Database/Migrations/20260314234459_AddTimestampDefaults.cs
  src/csharp/LampControlApi/Services/PostgresLampRepository.cs
  src/go/api/entities/lamp_entity.go
  src/go/api/postgres_repository.go
  src/go/api/queries/lamps.sql
  src/go/api/queries/lamps.sql.go
  src/go/api/queries/models.go
  src/kotlin/src/main/kotlin/com/lampcontrol/repository/PostgresLampRepository.kt
  src/python/src/openapi_server/entities/lamp_entity.py
  src/python/src/openapi_server/repositories/postgres_lamp_repository.py
Due: python-format-lint, go-format-lint, csharp-format-lint, kotlin-format-lint

docs: add CHANGELOG with release goals and ADRs per version (#433)
  CHANGELOG.md
  docs/RELEASE_PROCESS.md
Due: none

fix(tests): update unit tests for DB-managed timestamps
  src/csharp/LampControlApi.Tests/Domain/LampEntityTests.cs
  src/python/src/openapi_server/repositories/lamp_repository.py
Due: python-format-lint, csharp-format-lint

fix(python): populate timestamps in test fixtures for DB-managed entities
  src/python/src/openapi_server/test/test_default_api_impl.py
Due: python-format-lint

fix(python): make ordering tests DB-timestamp-aware
  src/python/src/openapi_server/repositories/lamp_repository.py
  src/python/src/openapi_server/test/test_postgres_lamp_repository.py
Due: python-format-lint

fix: simulate DB timestamps in Go and C# in-memory repositories
  src/csharp/LampControlApi/Services/InMemoryLampRepository.cs
  src/go/api/repository.go
Due: go-format-lint, csharp-format-lint

refactor: delegate timestamps to Postgres (Python, Go, Kotlin, C#) (#439)
  src/csharp/LampControlApi.Tests/Domain/LampEntityTests.cs
  src/csharp/LampControlApi/Domain/Entities/LampEntity.cs
  src/csharp/LampControlApi/Infrastructure/Database/LampControlDbContext.cs
  src/csharp/LampControlApi/Infrastructure/Database/LampDbEntity.cs
  src/csharp/LampControlApi/Infrastructure/Database/Migrations/20260314234459_AddTimestampDefaults.Designer.cs
  src/csharp/LampControlApi/Infrastructure/Database/Migrations/20260314234459_AddTimestampDefaults.cs
  src/csharp/LampControlApi/Services/InMemoryLampRepository.cs
  src/csharp/LampControlApi/Services/PostgresLampRepository.cs
  src/go/api/entities/lamp_entity.go
  src/go/api/postgres_repository.go
  src/go/api/queries/lamps.sql
  src/go/api/queries/lamps.sql.go
  src/go/api/queries/models.go
  src/go/api/repository.go
  src/kotlin/src/main/kotlin/com/lampcontrol/repository/PostgresLampRepository.kt
  src/python/src/openapi_server/entities/lamp_entity.py
  src/python/src/openapi_server/repositories/lamp_repository.py
  src/python/src/openapi_server/repositories/postgres_lamp_repository.py
  src/python/src/openapi_server/test/test_default_api_impl.py
  src/python/src/openapi_server/test/test_postgres_lamp_repository.py
Due: python-format-lint, go-format-lint, csharp-format-lint, kotlin-format-lint

refactor(db): update migration files for PostgreSQL 18 optimizations
  src/csharp/LampControlApi/Infrastructure/Database/LampControlDbContext.cs
  src/csharp/LampControlApi/Infrastructure/Database/Migrations/20260123154109_InitialCreate.Designer.cs
  src/csharp/LampControlApi/Infrastructure/Database/Migrations/20260123154109_InitialCreate.cs
  src/csharp/LampControlApi/Infrastructure/Database/Migrations/20260314234459_AddTimestampDefaults.Designer.cs
  src/csharp/LampControlApi/Infrastructure/Database/Migrations/LampControlDbContextModelSnapshot.cs
  src/go/api/migrations/000001_initial_schema.down.sql
  src/go/api/migrations/000001_initial_schema.up.sql
  src/go/api/migrations/000002_add_soft_deletes.down.sql
  src/go/api/migrations/000002_add_soft_deletes.up.sql
  src/go/api/migrations/000003_add_updated_at_trigger.down.sql
  src/go/api/migrations/000003_add_updated_at_trigger.up.sql
  src/java/src/main/resources/db/migration/V1__Initial_schema.sql
  src/java/src/main/resources/db/migration/V2__Add_soft_deletes.sql
  src/kotlin/src/main/resources/db/migration/V1__Initial_schema.sql
  src/kotlin/src/main/resources/db/migration/V2__Add_soft_deletes.sql
  src/kotlin/src/main/resources/db/migration/V3__Add_updated_at_trigger.sql
  src/python/alembic/versions/001_initial_schema.py
  src/typescript/prisma/migrations/20260123000000_init/migration.sql
  src/typescript/prisma/schema.prisma
Due: python-format-lint, csharp-format-lint

fix: address PR review comments and fix Python Black CI failure
  src/csharp/LampControlApi/Infrastructure/Database/Migrations/20260123154109_InitialCreate.cs
  src/python/alembic/versions/001_initial_schema.py
  src/typescript/prisma/schema.prisma
Due: python-format-lint, csharp-format-lint

refactor(db): update migration files for PostgreSQL 18 optimizations (#440)
  src/csharp/LampControlApi/Infrastructure/Database/LampControlDbContext.cs
  src/csharp/LampControlApi/Infrastructure/Database/Migrations/20260123154109_InitialCreate.Designer.cs
  src/csharp/LampControlApi/Infrastructure/Database/Migrations/20260123154109_InitialCreate.cs
  src/csharp/LampControlApi/Infrastructure/Database/Migrations/20260314234459_AddTimestampDefaults.Designer.cs
  src/csharp/LampControlApi/Infrastructure/Database/Migrations/LampControlDbContextModelSnapshot.cs
  src/go/api/migrations/000001_initial_schema.down.sql
  src/go/api/migrations/000001_initial_schema.up.sql
  src/go/api/migrations/000002_add_soft_deletes.down.sql
  src/go/api/migrations/000002_add_soft_deletes.up.sql
  src/go/api/migrations/000003_add_updated_at_trigger.down.sql
  src/go/api/migrations/000003_add_updated_at_trigger.up.sql
  src/java/src/main/resources/db/migration/V1__Initial_schema.sql
  src/java/src/main/resources/db/migration/V2__Add_soft_deletes.sql
  src/kotlin/src/main/resources/db/migration/V1__Initial_schema.sql
  src/kotlin/src/main/resources/db/migration/V2__Add_soft_deletes.sql
  src/kotlin/src/main/resources/db/migration/V3__Add_updated_at_trigger.sql
  src/python/alembic/versions/001_initial_schema.py
  src/typescript/prisma/migrations/20260123000000_init/migration.sql
  src/typescript/prisma/schema.prisma
Due: python-format-lint, csharp-format-lint

fix: regenerate TS package-lock and align Python to 3.14
  src/python/pyproject.toml
  src/typescript/package-lock.json
Due: none

fix(python): update CI to test with Python 3.14
  .github/workflows/python-ci.yml
Due: none

fix(python): regenerate poetry.lock for Python 3.14
  src/python/poetry.lock
Due: none

Update package-lock.json
  src/typescript/package-lock.json
Due: none

Bump Python target to py314
  src/python/pyproject.toml
Due: none

Bump Python minimum to 3.14
  docs/adr/006-python-3-14-minimum-version.md
  src/python/README.md
Due: none

Bump black to 26.3.1 and ruff to 0.15.6
  src/python/poetry.lock
  src/python/pyproject.toml
Due: none

Remove Poetry installer and venv cache from CI
  .github/workflows/python-ci.yml
Due: none

Add newline and alter except clause syntax
  src/python/launcher.py
  src/python/src/openapi_server/impl/default_api_impl.py
Due: python-format-lint

Fix typing annotations, imports, and lint rules
  src/python/pyproject.toml
  src/python/src/openapi_server/cli.py
  src/python/src/openapi_server/dependencies.py
  src/python/src/openapi_server/infrastructure/database/database.py
  src/python/tests/test_cli.py
Due: python-format-lint

Path conditions:
  typescript-format-lint: any of: ^src/typescript/.*\.ts$
  python-format-lint: any of: ^src/python/.*\.py$
  go-format-lint: any of: ^src/go/.*\.go$
  java-format-lint: any of: ^src/java/.*\.java$
  csharp-format-lint: any of: ^src/csharp/.*\.(cs|csproj|sln|props|targets|editorconfig)$
  kotlin-format-lint: any of: ^src/kotlin/.*\.(kt|kts)$
