Repository davideme/lamp-control-api-reference: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-format-lint, python-format-lint, go-format-lint, java-format-lint, csharp-format-lint, kotlin-format-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: typescript-format-lint
        name: TypeScript format and lint
        entry: scripts/hooks/typescript.sh
        language: system
        pass_filenames: true
        files: ^src/typescript/.*\.ts$

      - id: python-format-lint
        name: Python format and lint
        entry: scripts/hooks/python.sh
        language: system
        pass_filenames: true
        files: ^src/python/.*\.py$

      - id: go-format-lint
        name: Go format and lint
        entry: scripts/hooks/go.sh
        language: system
        pass_filenames: true
        files: ^src/go/.*\.go$

      - id: java-format-lint
        name: Java format and lint
        entry: scripts/hooks/java.sh
        language: system
        pass_filenames: true
        files: ^src/java/.*\.java$

      - id: csharp-format-lint
        name: C# format and lint
        entry: scripts/hooks/csharp.sh
        language: system
        pass_filenames: true
        files: ^src/csharp/.*\.(cs|csproj|sln|props|targets|editorconfig)$

      - id: kotlin-format-lint
        name: Kotlin format and lint
        entry: scripts/hooks/kotlin.sh
        language: system
        pass_filenames: true
        files: ^src/kotlin/.*\.(kt|kts)$

Replace unixSocketPath with ipTypes for Cloud SQL TCP (#402)
  src/java/src/main/java/org/openapitools/config/DataSourceConfig.java
  src/java/src/test/java/org/openapitools/config/DataSourceConfigTest.java
  src/kotlin/src/main/kotlin/com/lampcontrol/database/DatabaseFactory.kt
Due: java-format-lint, kotlin-format-lint

feat(benchmarks): use Secret Manager for DATABASE_URL instead of plain env vars
  benchmarks/k6/services.json
Due: none

chore: add git check-ignore to allowed permissions
  .claude/settings.local.json
Due: none

Use Secret Manager for DATABASE_URL in benchmarks (#403)
  .claude/settings.local.json
  benchmarks/k6/services.json
Due: none

fix(benchmarks): replace uuid_generate_v5 with gen_random_uuid in seed command
  benchmarks/k6/README.md
  benchmarks/k6/config.fast.json
  benchmarks/k6/config.json
Due: none

fix(benchmarks): replace uuid_generate_v5 with gen_random_uuid in seed command (#404)
  benchmarks/k6/README.md
  benchmarks/k6/config.fast.json
  benchmarks/k6/config.json
Due: none

feat(benchmarks): add --services filter to run a subset of languages
  benchmarks/k6/README.md
  benchmarks/k6/run-benchmarks.js
Due: none

docs(benchmarks): document --services and --services-file flags
  benchmarks/k6/README.md
Due: none

feat(benchmarks): add --services filter to run a subset of languages (#405)
  benchmarks/k6/README.md
  benchmarks/k6/run-benchmarks.js
Due: none

fix(csharp): push pagination to database level via ListAsync
  src/csharp/LampControlApi.Tests/InMemoryLampRepositoryTests.cs
  src/csharp/LampControlApi.Tests/Infrastructure/PostgresLampRepositoryTests.cs
  src/csharp/LampControlApi/Domain/Repositories/ILampRepository.cs
  src/csharp/LampControlApi/Services/InMemoryLampRepository.cs
  src/csharp/LampControlApi/Services/LampControllerImplementation.cs
  src/csharp/LampControlApi/Services/PostgresLampRepository.cs
Due: csharp-format-lint

fix(csharp): address review comments on ListAsync pagination
  src/csharp/LampControlApi.Tests/LampControllerImplementationTests.cs
  src/csharp/LampControlApi/Domain/Repositories/ILampRepository.cs
  src/csharp/LampControlApi/Services/InMemoryLampRepository.cs
  src/csharp/LampControlApi/Services/LampControllerImplementation.cs
  src/csharp/LampControlApi/Services/PostgresLampRepository.cs
Due: csharp-format-lint

fix(python): commit transaction after creating lamp
  src/python/src/openapi_server/repositories/postgres_lamp_repository.py
Due: python-format-lint

fix(csharp): push pagination to database level via ListAsync (#406)
  src/csharp/LampControlApi.Tests/InMemoryLampRepositoryTests.cs
  src/csharp/LampControlApi.Tests/Infrastructure/PostgresLampRepositoryTests.cs
  src/csharp/LampControlApi.Tests/LampControllerImplementationTests.cs
  src/csharp/LampControlApi/Domain/Repositories/ILampRepository.cs
  src/csharp/LampControlApi/Services/InMemoryLampRepository.cs
  src/csharp/LampControlApi/Services/LampControllerImplementation.cs
  src/csharp/LampControlApi/Services/PostgresLampRepository.cs
Due: csharp-format-lint

fix(python): commit transaction after creating lamp (#407)
  src/python/src/openapi_server/repositories/postgres_lamp_repository.py
Due: python-format-lint

fix(python): commit read-only sessions to avoid spurious rollbacks
  src/python/src/openapi_server/infrastructure/database/database.py
Due: python-format-lint

fix(python): commit read-only sessions to avoid spurious rollbacks (#408)
  src/python/src/openapi_server/infrastructure/database/database.py
Due: python-format-lint

Refactor default API repository
  src/python/coverage/coverage.json
  src/python/src/openapi_server/apis/default_api.py
  src/python/src/openapi_server/dependencies.py
  src/python/src/openapi_server/impl/default_api_impl.py
  src/python/src/openapi_server/repositories/postgres_lamp_repository.py
  src/python/src/openapi_server/test/test_postgres_lamp_repository.py
Due: python-format-lint

Resolve default_api lint issues
  src/python/coverage/coverage.json
  src/python/src/openapi_server/test/test_default_api.py
Due: python-format-lint

Rename CLAUDE to AGENTS file
  AGENTS.md
  CLAUDE.md
Due: none

Refactor API and repository wiring around DB sessions (#409)
  src/python/coverage/coverage.json
  src/python/src/openapi_server/apis/default_api.py
  src/python/src/openapi_server/dependencies.py
  src/python/src/openapi_server/impl/default_api_impl.py
  src/python/src/openapi_server/repositories/postgres_lamp_repository.py
  src/python/src/openapi_server/test/test_default_api.py
  src/python/src/openapi_server/test/test_postgres_lamp_repository.py
Due: python-format-lint

Update AGENTS.md
  AGENTS.md
Due: none

Update agent guidance documentation (#410)
  AGENTS.md
  CLAUDE.md
Due: none

Update Postgres pool guidance
  docs/POSTGRES_STARTUP_VARIABLES.md
  src/kotlin/README.md
  src/kotlin/src/main/kotlin/com/lampcontrol/database/DatabaseFactory.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigEnvironmentVariableTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseFactoryTest.kt
Due: kotlin-format-lint

Fix MvcTesting manifest lock
  src/csharp/LampControlApi.Tests/Extensions/ServiceCollectionExtensionsTests.cs
  src/csharp/LampControlApi.Tests/LampControlApi.Tests.csproj
  src/csharp/LampControlApi.Tests/LampControllerImplementationTests.cs
  src/csharp/LampControlApi/Extensions/ServiceCollectionExtensions.cs
  src/csharp/LampControlApi/Services/InMemoryLampRepository.cs
  src/csharp/LampControlApi/Services/LampControllerImplementation.cs
  src/csharp/LampControlApi/Services/PostgresLampRepository.cs
Due: csharp-format-lint

Adjust Kotlin and C# logging
  src/csharp/LampControlApi/appsettings.Development.json
  src/csharp/LampControlApi/appsettings.json
  src/kotlin/src/main/resources/logback.xml
Due: none

Adjust Kotlin and C# logging (#416)
  src/csharp/LampControlApi/appsettings.Development.json
  src/csharp/LampControlApi/appsettings.json
  src/kotlin/src/main/resources/logback.xml
Due: none

Fix MvcTestingAppManifest lock
  src/csharp/LampControlApi.Tests/Extensions/ServiceCollectionExtensionsTests.cs
  src/csharp/LampControlApi.Tests/InMemoryLampRepositoryTests.cs
  src/csharp/LampControlApi.Tests/Infrastructure/PostgresLampRepositoryTests.cs
  src/csharp/LampControlApi.Tests/Infrastructure/PostgresLampRepositoryUnitTests.cs
  src/csharp/LampControlApi.Tests/LampControllerImplementationTests.cs
  src/csharp/LampControlApi/Domain/Repositories/ILampRepository.cs
  src/csharp/LampControlApi/LampControlApi.csproj
  src/csharp/LampControlApi/Services/InMemoryLampRepository.cs
  src/csharp/LampControlApi/Services/LampControllerImplementation.cs
  src/csharp/LampControlApi/Services/PostgresLampRepository.cs
Due: csharp-format-lint

Remove benchmark-specific configs
  docs/POSTGRES_STARTUP_VARIABLES.md
  src/kotlin/README.md
  src/kotlin/src/main/kotlin/com/lampcontrol/database/DatabaseFactory.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseFactoryTest.kt
Due: kotlin-format-lint

Add pageable findAllActive query
  src/java/src/main/java/org/openapitools/config/RepositoryConfig.java
  src/java/src/main/java/org/openapitools/repository/JpaLampRepository.java
  src/java/src/main/java/org/openapitools/repository/LampRepository.java
  src/java/src/main/java/org/openapitools/repository/impl/InMemoryLampRepository.java
  src/java/src/main/java/org/openapitools/service/LampService.java
  src/java/src/test/java/org/openapitools/integration/JpaLampRepositoryIntegrationTest.java
  src/java/src/test/java/org/openapitools/repository/LampRepositoryTest.java
  src/java/src/test/java/org/openapitools/service/LampServiceTest.java
Due: java-format-lint

Add pageable findAllActive query (#417)
  src/java/src/main/java/org/openapitools/config/RepositoryConfig.java
  src/java/src/main/java/org/openapitools/repository/JpaLampRepository.java
  src/java/src/main/java/org/openapitools/repository/LampRepository.java
  src/java/src/main/java/org/openapitools/repository/impl/InMemoryLampRepository.java
  src/java/src/main/java/org/openapitools/service/LampService.java
  src/java/src/test/java/org/openapitools/integration/JpaLampRepositoryIntegrationTest.java
  src/java/src/test/java/org/openapitools/repository/LampRepositoryTest.java
  src/java/src/test/java/org/openapitools/service/LampServiceTest.java
Due: java-format-lint

Improve DB retry configuration and update logic (#415)
  src/csharp/LampControlApi.Tests/Extensions/ServiceCollectionExtensionsTests.cs
  src/csharp/LampControlApi.Tests/InMemoryLampRepositoryTests.cs
  src/csharp/LampControlApi.Tests/Infrastructure/PostgresLampRepositoryTests.cs
  src/csharp/LampControlApi.Tests/Infrastructure/PostgresLampRepositoryUnitTests.cs
  src/csharp/LampControlApi.Tests/LampControlApi.Tests.csproj
  src/csharp/LampControlApi.Tests/LampControllerImplementationTests.cs
  src/csharp/LampControlApi/Domain/Repositories/ILampRepository.cs
  src/csharp/LampControlApi/Extensions/ServiceCollectionExtensions.cs
  src/csharp/LampControlApi/LampControlApi.csproj
  src/csharp/LampControlApi/Services/InMemoryLampRepository.cs
  src/csharp/LampControlApi/Services/LampControllerImplementation.cs
  src/csharp/LampControlApi/Services/PostgresLampRepository.cs
Due: csharp-format-lint

Update Kotlin DB defaults and transaction isolation config (#414)
  docs/POSTGRES_STARTUP_VARIABLES.md
  src/kotlin/README.md
  src/kotlin/src/main/kotlin/com/lampcontrol/database/DatabaseFactory.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigEnvironmentVariableTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseFactoryTest.kt
Due: kotlin-format-lint

Merge main into claude/awesome-cray
  .claude/settings.local.json
Due: none

fix(csharp): set timestamps in application code, remove ReloadAsync fallbacks
  src/csharp/LampControlApi/Infrastructure/Database/LampDbEntity.cs
  src/csharp/LampControlApi/Services/PostgresLampRepository.cs
Due: csharp-format-lint

chore: add dotnet test and docker permissions to settings
  .claude/settings.local.json
Due: none

chore: remove hardcoded local paths from settings permissions
  .claude/settings.local.json
Due: none

fix(csharp): eliminate double DB round-trips by owning timestamps in application code (#418)
  .claude/settings.local.json
  src/csharp/LampControlApi/Infrastructure/Database/LampDbEntity.cs
  src/csharp/LampControlApi/Services/PostgresLampRepository.cs
Due: csharp-format-lint

Update Python env to 3.14
  .github/workflows/python-ci.yml
  src/python/.python-version
  src/python/Dockerfile
  src/python/README.md
  src/python/poetry.lock
  src/python/pyproject.toml
  src/python/requirements.txt
Due: none

Remove custom java run image
  src/java/cloudbuild.yaml
  src/java/run.Dockerfile
Due: none

fix(python): unblock 3.14 by removing standard extra deps
  src/python/Dockerfile
  src/python/README.md
  src/python/poetry.lock
  src/python/pyproject.toml
  src/python/requirements.txt
Due: none
