Repository davideme/lamp-control-api-reference: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-format-lint, python-format-lint, go-format-lint, java-format-lint, csharp-format-lint, kotlin-format-lint

typescript-format-lint:
  name: TypeScript format and lint
  entry: scripts/hooks/typescript.sh
  language: system
  pass_filenames: true

python-format-lint:
  name: Python format and lint
  entry: scripts/hooks/python.sh
  language: system
  pass_filenames: true

go-format-lint:
  name: Go format and lint
  entry: scripts/hooks/go.sh
  language: system
  pass_filenames: true

java-format-lint:
  name: Java format and lint
  entry: scripts/hooks/java.sh
  language: system
  pass_filenames: true

csharp-format-lint:
  name: C# format and lint
  entry: scripts/hooks/csharp.sh
  language: system
  pass_filenames: true

kotlin-format-lint:
  name: Kotlin format and lint
  entry: scripts/hooks/kotlin.sh
  language: system
  pass_filenames: true

fix(python): use supported lint and mypy targets
  src/python/pyproject.toml
Due: none

fix(python): enable PyO3 abi3 compatibility for 3.14 CI
  .github/workflows/python-ci.yml
Due: none

Remove custom java run image (#420)
  src/java/cloudbuild.yaml
  src/java/run.Dockerfile
Due: none

fix(python): align CI and constraints to 3.13 compatibility
  .github/workflows/python-ci.yml
  src/python/README.md
  src/python/poetry.lock
  src/python/pyproject.toml
  src/python/requirements.txt
Due: none

fix(python): add httpx for testclient in CI
  src/python/poetry.lock
  src/python/pyproject.toml
Due: none

Update Python configuration to 3.14 (#419)
  .github/workflows/python-ci.yml
  src/python/.python-version
  src/python/Dockerfile
  src/python/README.md
  src/python/poetry.lock
  src/python/pyproject.toml
  src/python/requirements.txt
Due: none

fix(python): upgrade pydantic to 2.12 for Python 3.14 compatibility
  src/python/cloudbuild.yaml
  src/python/poetry.lock
  src/python/pyproject.toml
  src/python/requirements.txt
Due: none

fix(python): upgrade pydantic to 2.12 for Python 3.14 compatibility (#421)
  src/python/cloudbuild.yaml
  src/python/poetry.lock
  src/python/pyproject.toml
  src/python/requirements.txt
Due: none

feat(python): optimize FastAPI deployment with direct uvicorn entrypoint
  scripts/hooks/python.sh
  src/python/Procfile
  src/python/main.py
  src/python/poetry.lock
  src/python/pyproject.toml
  src/python/requirements.txt
  src/python/src/openapi_server/main.py
Due: python-format-lint

feat(python): optimize FastAPI deployment with direct uvicorn entrypoint (#422)
  scripts/hooks/python.sh
  src/python/Procfile
  src/python/main.py
  src/python/poetry.lock
  src/python/pyproject.toml
  src/python/requirements.txt
  src/python/src/openapi_server/main.py
Due: python-format-lint

Update Procfile
  src/python/Procfile
Due: none

Update settings.local.json
  .claude/settings.local.json
Due: none

Python/procfiles (#423)
  .claude/settings.local.json
  src/python/Procfile
Due: none

fix(csharp): disable reset on close for Npgsql connection pool
  src/csharp/LampControlApi/Extensions/ServiceCollectionExtensions.cs
Due: csharp-format-lint

Fix Npgsql connection pool and update configurations (#425)
  src/csharp/LampControlApi/Extensions/ServiceCollectionExtensions.cs
Due: csharp-format-lint

feat(python): use RETURNING for INSERT, UPDATE and DELETE
  .claude/settings.local.json
  src/python/src/openapi_server/repositories/postgres_lamp_repository.py
Due: python-format-lint

feat(python): use RETURNING for INSERT, UPDATE and DELETE (#426)
  .claude/settings.local.json
  src/python/src/openapi_server/repositories/postgres_lamp_repository.py
Due: python-format-lint

Remove .claude/settings.local.json
  .claude/settings.local.json
Due: none

Remove .claude/settings.local.json (#427)
  .claude/settings.local.json
Due: none

feat(csharp): upgrade from .NET 8 to .NET 10
  scripts/hooks/csharp.sh
Due: none

feat(csharp): upgrade from .NET 8 to .NET 10
  .github/workflows/csharp-ci.yml
  src/csharp/LampControlApi.Tests/Infrastructure/LampControlDbContextTests.cs
  src/csharp/LampControlApi.Tests/Infrastructure/PostgresLampRepositoryUnitTests.cs
  src/csharp/LampControlApi.Tests/LampControlApi.Tests.csproj
  src/csharp/LampControlApi.Tests/LampControllerImplementationTests.cs
  src/csharp/LampControlApi/LampControlApi.csproj
  src/csharp/LampControlApi/Program.cs
  src/csharp/LampControlApi/Services/PostgresLampRepository.cs
  src/csharp/LampControlApi/global.json
  src/csharp/LampControlApi/packages.lock.json
Due: csharp-format-lint

fix(csharp): address PR review comments
  src/csharp/LampControlApi.Tests/LampControlApi.Tests.csproj
  src/csharp/LampControlApi.Tests/packages.lock.json
  src/csharp/LampControlApi/LampControlApi.csproj
  src/csharp/global.json
Due: csharp-format-lint

fix(csharp): fix CI test failures after .NET 10 upgrade
  src/csharp/LampControlApi.Tests/Infrastructure/PostgresLampRepositoryUnitTests.cs
  src/csharp/LampControlApi.Tests/packages.lock.json
  src/csharp/LampControlApi/LampControlApi.csproj
  src/csharp/LampControlApi/packages.lock.json
Due: csharp-format-lint

fix(csharp): fix Swashbuckle 10.x tag name generation for Controller class
  src/csharp/LampControlApi/Extensions/ServiceCollectionExtensions.cs
Due: csharp-format-lint

feat(benchmarks): add JIT warmup profiling suite
  benchmarks/jit-profile/config.json
  benchmarks/jit-profile/profile.js
  benchmarks/jit-profile/report.js
  benchmarks/jit-profile/results/.gitkeep
  benchmarks/jit-profile/run-profile.sh
Due: none

fix(benchmarks): address PR #429 review comments
  benchmarks/jit-profile/profile.js
  benchmarks/jit-profile/report.js
  benchmarks/jit-profile/run-profile.sh
Due: none

fix(jit-profile): fix renamed variable bugs and add pre-benchmark warm-up
  benchmarks/jit-profile/profile.js
  benchmarks/jit-profile/run-profile.sh
Due: none

feat(benchmarks): add JIT warmup profiling suite (#429)
  benchmarks/jit-profile/config.json
  benchmarks/jit-profile/profile.js
  benchmarks/jit-profile/report.js
  benchmarks/jit-profile/results/.gitkeep
  benchmarks/jit-profile/run-profile.sh
Due: none

docs(benchmarks): add README for JIT warmup profiling suite
  benchmarks/jit-profile/README.md
Due: none

fix(benchmarks): remove --no-summary so handleSummary writes window files
  benchmarks/jit-profile/run-profile.sh
Due: none

docs(benchmarks): add README for JIT warmup profiling suite (#430)
  benchmarks/jit-profile/README.md
  benchmarks/jit-profile/run-profile.sh
Due: none

feat(csharp): upgrade from .NET 8 to .NET 10 (#428)
  .github/workflows/csharp-ci.yml
  scripts/hooks/csharp.sh
  src/csharp/LampControlApi.Tests/Infrastructure/LampControlDbContextTests.cs
  src/csharp/LampControlApi.Tests/Infrastructure/PostgresLampRepositoryUnitTests.cs
  src/csharp/LampControlApi.Tests/LampControlApi.Tests.csproj
  src/csharp/LampControlApi.Tests/LampControllerImplementationTests.cs
  src/csharp/LampControlApi.Tests/packages.lock.json
  src/csharp/LampControlApi/Extensions/ServiceCollectionExtensions.cs
  src/csharp/LampControlApi/LampControlApi.csproj
  src/csharp/LampControlApi/Program.cs
  src/csharp/LampControlApi/Services/PostgresLampRepository.cs
  src/csharp/LampControlApi/packages.lock.json
  src/csharp/global.json
Due: csharp-format-lint

fix(benchmarks): use DATABASE_URL for csharp in services.json
  benchmarks/k6/services.json
Due: none

fix(benchmarks): use DATABASE_URL for csharp in services.json (#431)
  benchmarks/k6/services.json
Due: none

feat(csharp): add Cloud Build deployment configuration
  src/csharp/cloudbuild.yaml
Due: none

feat(csharp): add Cloud Build deployment configuration (#432)
  src/csharp/cloudbuild.yaml
Due: none

docs: add CHANGELOG with release goals and ADRs per version
  CHANGELOG.md
Due: none

docs(release): add CHANGELOG update steps to release process
  docs/RELEASE_PROCESS.md
Due: none

fix(csharp): use google-24 builder instead of latest in Cloud Build
  src/csharp/cloudbuild.yaml
Due: none

fix(csharp): use google-24 builder instead of latest in Cloud Build (#434)
  src/csharp/cloudbuild.yaml
Due: none

Path conditions:
  typescript-format-lint: any of: ^src/typescript/.*\.ts$
  python-format-lint: any of: ^src/python/.*\.py$
  go-format-lint: any of: ^src/go/.*\.go$
  java-format-lint: any of: ^src/java/.*\.java$
  csharp-format-lint: any of: ^src/csharp/.*\.(cs|csproj|sln|props|targets|editorconfig)$
  kotlin-format-lint: any of: ^src/kotlin/.*\.(kt|kts)$
