Repository davideme/lamp-control-api-reference: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-format-lint, python-format-lint, go-format-lint, java-format-lint, csharp-format-lint, kotlin-format-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: typescript-format-lint
        name: TypeScript format and lint
        entry: scripts/hooks/typescript.sh
        language: system
        pass_filenames: true
        files: ^src/typescript/.*\.ts$

      - id: python-format-lint
        name: Python format and lint
        entry: scripts/hooks/python.sh
        language: system
        pass_filenames: true
        files: ^src/python/.*\.py$

      - id: go-format-lint
        name: Go format and lint
        entry: scripts/hooks/go.sh
        language: system
        pass_filenames: true
        files: ^src/go/.*\.go$

      - id: java-format-lint
        name: Java format and lint
        entry: scripts/hooks/java.sh
        language: system
        pass_filenames: true
        files: ^src/java/.*\.java$

      - id: csharp-format-lint
        name: C# format and lint
        entry: scripts/hooks/csharp.sh
        language: system
        pass_filenames: true
        files: ^src/csharp/.*\.(cs|csproj|sln|props|targets|editorconfig)$

      - id: kotlin-format-lint
        name: Kotlin format and lint
        entry: scripts/hooks/kotlin.sh
        language: system
        pass_filenames: true
        files: ^src/kotlin/.*\.(kt|kts)$

docs: refresh root README to match current project state
  README.md
Due: none

docs: refresh root README to match current project state (#388)
  README.md
Due: none

fix(csharp): accept cloud sql unix socket DATABASE_URL
  src/csharp/LampControlApi.Tests/Extensions/ServiceCollectionExtensionsTests.cs
  src/csharp/LampControlApi/Extensions/ServiceCollectionExtensions.cs
Due: csharp-format-lint

fix(typescript): normalize Cloud SQL socket DATABASE_URL for Prisma
  src/typescript/src/infrastructure/database/client.test.ts
  src/typescript/src/infrastructure/database/client.ts
Due: typescript-format-lint

fix(csharp): avoid full colon scan in host parser
  src/csharp/LampControlApi/Extensions/ServiceCollectionExtensions.cs
Due: csharp-format-lint

test(typescript): address PR review comments for DB URL normalization
  src/typescript/src/infrastructure/database/client.test.ts
  src/typescript/src/infrastructure/database/client.ts
Due: typescript-format-lint

fix(csharp): support Cloud SQL unix socket DATABASE_URL (#389)
  src/csharp/LampControlApi.Tests/Extensions/ServiceCollectionExtensionsTests.cs
  src/csharp/LampControlApi/Extensions/ServiceCollectionExtensions.cs
Due: csharp-format-lint

style(typescript): fix lint formatting in db url normalization
  src/typescript/src/infrastructure/database/client.ts
Due: typescript-format-lint

fix(typescript): normalize Cloud SQL socket DATABASE_URL for Prisma (#390)
  src/typescript/src/infrastructure/database/client.test.ts
  src/typescript/src/infrastructure/database/client.ts
Due: typescript-format-lint

fix(kotlin): support Cloud SQL socket DATABASE_URL parsing
  src/kotlin/src/main/kotlin/com/lampcontrol/database/DatabaseFactory.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigEnvironmentVariableTest.kt
Due: kotlin-format-lint

fix(java): support Cloud SQL socket DATABASE_URL and Cloud Run refresh
  src/java/src/main/java/org/openapitools/config/DataSourceConfig.java
  src/java/src/test/java/org/openapitools/config/DataSourceConfigTest.java
Due: java-format-lint

fix(python): normalize asyncpg timeout param
  src/python/src/openapi_server/infrastructure/config.py
  src/python/tests/test_config.py
Due: python-format-lint

style(python): apply black formatting for config tests
  src/python/tests/test_config.py
Due: python-format-lint

fix(java): support Cloud SQL socket DATABASE_URL and Cloud Run refresh (#393)
  src/java/src/main/java/org/openapitools/config/DataSourceConfig.java
  src/java/src/test/java/org/openapitools/config/DataSourceConfigTest.java
Due: java-format-lint

fix(python): normalize DATABASE_URL timeout for asyncpg (#394)
  src/python/src/openapi_server/infrastructure/config.py
  src/python/tests/test_config.py
Due: python-format-lint

fix(kotlin): satisfy detekt for Cloud SQL URL parsing
  src/kotlin/src/main/kotlin/com/lampcontrol/database/DatabaseFactory.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigEnvironmentVariableTest.kt
Due: kotlin-format-lint

Update PostgreSQL schema to v2
  database/sql/postgresql/schema.sql
Due: none

fix(sql): resolve sqlfluff violations in postgres schema
  database/sql/postgresql/schema.sql
Due: none

Fix FastAPI traceback handling
  src/python/src/openapi_server/infrastructure/config.py
  src/python/src/openapi_server/infrastructure/database/database.py
  src/python/tests/test_config.py
  src/python/tests/test_database_manager.py
Due: python-format-lint

fix(sql): shorten postgres column comments for lint
  database/sql/postgresql/schema.sql
Due: none

Fix FastAPI traceback handling (#396)
  src/python/src/openapi_server/infrastructure/config.py
  src/python/src/openapi_server/infrastructure/database/database.py
  src/python/tests/test_config.py
  src/python/tests/test_database_manager.py
Due: python-format-lint

Update PostgreSQL schema to v2 with optimized indexes (#395)
  database/sql/postgresql/schema.sql
Due: none

Fix Postgres SocketFactory error
  src/java/pom.xml
Due: none

Fix SocketFactory instantiation
  src/java/pom.xml
Due: none

Add Cloud SQL socket factory dependency (#397)
  src/java/pom.xml
Due: none

fix(kotlin): align Hikari Cloud SQL handling with java
  src/kotlin/build.gradle.kts
  src/kotlin/src/main/kotlin/com/lampcontrol/database/DatabaseFactory.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigEnvironmentVariableTest.kt
Due: kotlin-format-lint

fix(kotlin): support Cloud SQL socket DATABASE_URL parsing (#392)
  src/kotlin/build.gradle.kts
  src/kotlin/src/main/kotlin/com/lampcontrol/database/DatabaseFactory.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigEnvironmentVariableTest.kt
Due: kotlin-format-lint

Add root run Dockerfile
  src/java/run.Dockerfile
Due: none

chore(java): add original cloudbuild config
  src/java/cloudbuild.yaml
Due: none

build(java): use custom run image for pack build
  src/java/cloudbuild.yaml
Due: none

Add Java run Dockerfile (#398)
  src/java/cloudbuild.yaml
  src/java/run.Dockerfile
Due: none

Fix missing InetAddress resolver
  src/kotlin/build.gradle.kts
  src/kotlin/src/main/kotlin/com/lampcontrol/Application.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/api/Configuration.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/api/Paths.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/api/apis/DefaultApi.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/config/OperationMode.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/database/DatabaseFactory.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/extensions/UUIDExtensions.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/plugins/Monitoring.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/plugins/Serialization.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/serialization/UUIDSerializer.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/api/ApiKeyAuthTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/api/ApplicationTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/api/DebugTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/api/EdgeCaseTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/api/models/ApiModelsTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigEnvironmentTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseFactoryTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/LampsTableTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/di/ServiceContainerTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/entity/LampEntityTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/mapper/LampMapperTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/models/ModelTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/plugins/CorsPreflightTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/plugins/PluginsTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/plugins/StatusPagesTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/repository/LampRepositoryFactoryTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/serialization/UUIDSerializerTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/service/InMemoryLampRepositoryTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/testutil/TestJson.kt
Due: kotlin-format-lint

fix(java): align buildpack run image with google-22 stack
  src/java/cloudbuild.yaml
  src/java/run.Dockerfile
Due: none

Ensure run-image stack matches builder in Cloud Build (#400)
  src/java/cloudbuild.yaml
  src/java/run.Dockerfile
Due: none

Fix missing InetAddress resolver (#399)
  src/kotlin/build.gradle.kts
  src/kotlin/src/main/kotlin/com/lampcontrol/Application.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/api/Configuration.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/api/Paths.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/api/apis/DefaultApi.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/config/OperationMode.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/database/DatabaseFactory.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/extensions/UUIDExtensions.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/plugins/Monitoring.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/plugins/Serialization.kt
  src/kotlin/src/main/kotlin/com/lampcontrol/serialization/UUIDSerializer.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/api/ApiKeyAuthTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/api/ApplicationTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/api/DebugTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/api/EdgeCaseTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/api/models/ApiModelsTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigEnvironmentTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseConfigTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseFactoryTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/LampsTableTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/di/ServiceContainerTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/entity/LampEntityTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/mapper/LampMapperTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/models/ModelTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/plugins/CorsPreflightTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/plugins/PluginsTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/plugins/StatusPagesTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/repository/LampRepositoryFactoryTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/serialization/UUIDSerializerTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/service/InMemoryLampRepositoryTest.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/testutil/TestJson.kt
Due: kotlin-format-lint

Add cloud sql instance property
  src/java/src/main/java/org/openapitools/config/DataSourceConfig.java
  src/java/src/test/java/org/openapitools/config/DataSourceConfigTest.java
  src/kotlin/src/main/kotlin/com/lampcontrol/database/DatabaseFactory.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseFactoryTest.kt
Due: java-format-lint, kotlin-format-lint

Add cloud sql instance property (#401)
  src/java/src/main/java/org/openapitools/config/DataSourceConfig.java
  src/java/src/test/java/org/openapitools/config/DataSourceConfigTest.java
  src/kotlin/src/main/kotlin/com/lampcontrol/database/DatabaseFactory.kt
  src/kotlin/src/test/kotlin/com/lampcontrol/database/DatabaseFactoryTest.kt
Due: java-format-lint, kotlin-format-lint

fix(java,kotlin): replace unixSocketPath with ipTypes for Cloud SQL TCP connection
  src/java/src/main/java/org/openapitools/config/DataSourceConfig.java
  src/kotlin/src/main/kotlin/com/lampcontrol/database/DatabaseFactory.kt
Due: java-format-lint, kotlin-format-lint

test(java): update DataSourceConfigTest to reflect ipTypes over unixSocketPath
  src/java/src/test/java/org/openapitools/config/DataSourceConfigTest.java
Due: java-format-lint
